.login {
    display: flex;
    flex: 1;
    height: 100vh;

    .left {
        display: flex;
        flex: 2;
        align-items: center;
        justify-content: center;

        .image {
            object-fit: cover;
            height: 50%;
            width: 50%;
        }
    }

    .right {
        display: flex;
        flex: 1;
    }

    .loginForm {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .heading {}

        .form {}
    }
}